body {
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-photo/dark-texture-watercolor_125540-769.jpg?w=2000");

}

nav {

    background-color: darkgoldenrod;
}

.enlaces a {

    margin: auto;
    padding: 2%;
    text-decoration: none;

}



.aside {

    padding: 2%;
    background-color: rgba(92, 92, 250, 0.808);


}



.bienvenida {

    margin: 0 auto;
    padding: 2%;
    border: 1px solid sienna;
    background-color: rgba(109, 6, 6, 0.836);

}

.bienvenida img,
.aside img {

    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px black;
    margin: auto;
    display: flex;
    justify-content: space-between;




}



footer {

    margin: auto;
    text-align: center;

}



.contenedor-grid {

    padding: 1%;
    margin: auto;
    width: 80%;
    border: 1px solid rgb(177, 11, 11);
    display: grid;
    grid-template-columns: 70%;
    grid-template-areas:

        "header header"
        "nav nav"
        "bienvenida aside"
        "footer footer";
    gap: 5px;

}


header {

    grid-area: header;
    border: 1px solid black;
    height: 60px;
}

nav {

    grid-area: nav;
    border: 1px solid black;
}

.bienvenida {

    grid-area: bienvenida;
    border: 1px solid black;
}


.aside {

    grid-area: aside;
    border: 1px solid black;

}

footer {

    grid-area: footer;
    border: 1px solid black;
}



@media (max-width:850px) {

    .contenedor-grid {

        padding: 1%;
        width: 90%;
        margin: auto;
        border: 1px solid rgb(177, 11, 11);
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:

            "header"
            "nav"
            "bienvenida"
            "aside"
            "footer";
        gap: 5px;

    }


}


/*estilo works*/




.contenedor-grid2 {

    padding: 1%;
    margin: auto;
    width: 80%;
    border: 1px solid rgb(177, 11, 11);
    display: grid;
    grid-template-columns: 70%;
    grid-template-areas:

        "header header"
        "nav nav"
        "albums albums"
        "videos videos"
        "footer footer";
    gap: 5px;

}


header {

    grid-area: header;
    border: 1px solid black;

}

nav {

    grid-area: nav;
    border: 1px solid black;
}

.albums {

    grid-area: albums;
    border: 1px solid black;
    background-color: rgba(109, 6, 6, 0.836);
    padding: 2%;


}


.albums img {

    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px black;
}


.videos {

    grid-area: videos;
    border: 1px solid black;
    background-color: rgba(92, 92, 250, 0.795);
    padding: 2%;
}


.videos img {

    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px black;
}


footer {

    grid-area: footer;
    border: 1px solid black;
}







@media (max-width:850) {

    .contenedor-grid2 {

        padding: 1%;
        margin: auto;
        width: 80%;
        border: 1px solid rgb(177, 11, 11);
        display: grid;
        grid-template-columns: 70%;
        grid-template-areas:

            "header"
            "nav"
            "albums"
            "videos"
            "footer";
        gap: 5px;

    }
}